.dockerenv

.terraform.*
.terraform/
terraform.tfstate
terraform.tfstate*

tmp/

venv
.idea

.DS_Store
.envrc
kubeconfig
**/kubeconfig

capi-quickstart*
clusterawsadm

creds.conf
**/*.xpkg
downloads
docker_hub_password.txt

*.tmp
.pem
